.titre {
  font-weight: bolder;
  font-size: 50px;

  body {
    background-color: snow;
    font-family: "Trebuchet MS", sans-serif;
    text-align: justify;
  }

  margin-bottom: 10px;
  border-radius: 100%;
}
